@import "~common/styles/variables";

.MainContainer {
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 64px 0 0;
  max-width: calc(100vw - 450px);
  min-height: 100vh;
  padding: 20px 30px;
  position: relative;
  width: 100vw;

  &__fullWidth {
    max-width: initial;
    width: calc(100vw - 60px);
  }
}
