@import "~common/styles/variables";

.TopAppBarMainContent_Title {
  margin-right: 20px;
  user-select: none;
}

.TopAppBarMainContent_InputWrapper {
  align-items: center;
  border: 0;
  display: flex;
  flex-grow: 1;
  width: initial;
}

.TopAppBarMainContent_InputSpinner {
  height: 20px;
  position: absolute;
  right: 10px;
  width: 20px;
}
