@import "~material-components-web/material-components-web";
@import "variables";

body {
  margin: 0;
  padding: 0;
}

:global(.SleighTube) {
    @extend .mdc-typography // sass-lint:disable-line no-extends
}

:global(.Application) {
  display: flex;
}
