// colors

$color-alabaser: #F9F9F9;
$color-alto: #d0d0d0;
$color-black: #000000;
$color-electric-violet: #6200ee;
$color-gallery: #eeeeee;
$color-mine-shaft: #333333;
$color-red: #ff0002;
$color-san-marino: #3f51b5;
$color-silver-chalice: #a0a0a0;
$color-white: #ffffff;
$color-white-one: #fcfcfc;
