@import "~common/styles/main";

.TextInput {
  border: 1px solid $color-alto;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 40px;
  letter-spacing: .00937em;
  line-height: 1.75rem;
  outline: none;
  padding-left: 20px;
  text-decoration: inherit;
  text-transform: inherit;
  transition: border ease-in .25s;
  width: 100%;

  &:focus {
    border: 1px solid $color-san-marino;
  }

  &__error {
    border: 1px solid $color-red;
  }
}

.TextInput_ValidationMessage {
  color: $color-red;
  margin-left: 20px;
}
