@import "~common/styles/variables";

.LoginContainer {
  min-height: calc(100vh - 64px);
  padding: 0 30px;
}

.LoginContainer_Wrapper {
  height: 200px;
  margin: 40px auto;
  width: 400px;
}

.LoginContainer_Title {
  border-bottom: 1px solid $color-gallery;
  font-size: 25px;
  font-weight: 300;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: auto;
  padding-bottom: 20px;
  text-align: center;
}

.LoginContainer_Actions {
  margin: auto;
}

.LoginContainer_ActionsButtons {
  flex-direction: column;
}
