@import "~common/styles/variables";

.Sidebar {
  background-color: $color-white-one;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 64px;
  width: 350px;
}
