@import "~common/styles/main";

.MovieContent {
  align-items: center;
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  margin: -20px -30px 0;
}

.MovieContent_HeaderWrapper {
  align-items: center;
  border-bottom: 1px solid $color-gallery;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  min-height: 36px;
}

.MovieContent_Actions {

  .MovieContent_ActionButton {
    &:after {
      background-color: transparent;
    }
    &:before {
      background-color: transparent;
    }
  }

  .MovieContent_ActionIcon {
    color: $color-silver-chalice;
    font-size: 30px;
    height: 30px;
    transition: color .2s ease-in;
    width: 30px;

    &__applied {
      color: $color-mine-shaft;
    }
  }
}

.MovieContent_Title {
  font-size: 18px;
  font-weight: 500;
}

.MovieContent_Description {
  font-size: 14px;
  margin-top: 20px;
}

.MovieContent_Details {
  margin: 30px auto 0;
}
