@import "~common/styles/variables";

.Spinner {
  height: 40px;
  position: relative;
  width: 40px;
}

.DoubleBounce__1, .DoubleBounce__2 {
  animation: sk-bounce 1.0s infinite ease-in-out;
  background-color: $color-mine-shaft;
  border-radius: 50%;
  height: 100%;
  left: 0;
  opacity: .6;
  position: absolute;
  top: 0;
  width: 100%;
}

.DoubleBounce__2 {
  animation-delay: -.5s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(.0);
  } 50% {
      transform: scale(1.0);
    }
}
