@import "~common/styles/main";

.MoviePreview {
  display: flex;
  height: 90px;
}

.MoviePreview_Wrapper {
  margin-top: 20px;
  text-decoration: none;

  &:visited, &:active {
    color: inherit;
  }

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    margin-top: initial;
  }
}

.MoviePreview_Header {
  overflow: hidden;
}

.MoviePreview_Channel {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MoviePreview_ThumbnailContainer {
  width: 120px;
}

.MoviePreview_Thumbnail {
  height: 90px;
  margin-right: auto;
  object-fit: contain;
}

.MoviePreview_DetailsContainer {
  margin-left: 10px;
  max-width: 220px;
}
