@import "~common/styles/variables";

.TopAppBar {
  background-color: $color-white;
  box-shadow:  0 2px 4px -1px rgba($color-black, .05),
  0 4px 5px 0 rgba($color-black, .04),
  0 1px 10px 0 rgba($color-black, .02);
  color: $color-black;

  .TopAppBar_Avatar {
    border-radius: 50%;
    height: 50px;
  }

  .TopAppBar_Icon {
    color: $color-alto;
    transition: color ease-in .25s;

    &:hover {
      color: $color-black;
    }
  }

  .TopAppBar_Button {
    color: $color-electric-violet;
    width: auto;
  }
}



